<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.rdrei.android.wakimail"
    android:installLocation="auto"
    android:versionCode="13"
    android:versionName="1.0.0-SNAPSHOT" >

    <!--
    We don't have touchscreen-specific features right now. Use could easily
    use a trackball or keyboard navigation.
    -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="WAKiMailApplication"
        android:description="@string/app_description"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme" >
        <activity android:name=".ui.DashboardActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/login_signin" >
        </activity>
        <activity
            android:name=".ui.MailListActivity"
            android:label="@string/activity_label_inbox" >
        </activity>
        <activity
            android:name=".ui.MailDetailActivity"
            android:label="@string/activity_label_inbox" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.rdrei.wakimail" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.MailProvider"
            android:authorities="net.rdrei.android.wakimail.data.mail" >
        </provider>
    </application>

</manifest>